@using Corelibs.BlazorViews.Layouts
@using PageTree.App.UseCases.Signatures.Queries;

<h3 class="signatures-text">Signatures</h3>

<div class="signatures">
    <VerticalLayout class="signature-list">
        @foreach (var signature in Model.Values)
        {
            <Signature Model=signature 
                OnAddButtonClick=OnAddSignature 
                OnRemoveButtonClick=OnRemoveSignature
                OnNameChanged=OnNameChanged />
        }
    </VerticalLayout>
</div>

@code {
    [Parameter] public SignatureListVM Model { get; set; } = TestModel;

    [Parameter] public Func<string, Task> OnAddSignature { get; set; }
    [Parameter] public Func<string, Task> OnRemoveSignature { get; set; }
    [Parameter] public Func<string, string, Task> OnNameChanged { get; set; }

    public static readonly SignatureListVM TestModel = new()
    {
        Values = new SignatureVM[]
        {
            new()
            {
                Identity = new()
                {
                    Name = "Authors"
                }
            },
            new()
            {
                Identity = new()
                {
                    Name = "Author"
                }
            },
            new()
            {
                Identity = new()
                {
                    Name = "Lesson"
                }
            },
            new()
            {
                Identity = new()
                {
                    Name = "Phrase"
                }
            }
        }
    };
}
