@using Corelibs.BlazorViews.Layouts
@using PageTree.App.UseCases.Signatures.Queries;

@implements IView<SignatureListVM>

<div class="top-panel">
    <h3 class="signatures-text">Signatures</h3>
    <div class="top-right-buttons">
        <button class="button" @onclick=OnAddSignatureOnTop>+&lt;</button>
        <button class="button" @onclick=OnAddSignatureOnBottom>+&gt;</button>
    </div>
</div>

<div class="signatures">
    <VerticalLayout class="signature-list">
        @for (int i = 0; i < Model.Values.Length; i++)
        {
            var signature = Model.Values[i];
            bool isFirst = i == 0;
            bool isLast = i == Model.Values.Length - 1;

            <Signature Model=signature
                OnAddButtonClick=OnAddSignatureInternal
                OnRemoveButtonClick=OnRemoveSignature
                OnNameChanged=OnNameChanged
                OnMoveDownButtonClick=OnMoveDownButtonClickInternal
                OnMoveUpButtonClick=OnMoveUpButtonClickInternal
                IsFirst=isFirst
                IsLast=isLast/>
        }
    </VerticalLayout>
</div>

@code {
    [Parameter] public SignatureListVM Model { get; set; }

    [Parameter] public Func<string, int, Task> OnMoveSignature { get; set; }
    [Parameter] public Func<Task> OnAddSignatureOnTop { get; set; }
    [Parameter] public Func<Task> OnAddSignatureOnBottom { get; set; }
    [Parameter] public Func<int, Task> OnAddSignature { get; set; }
    [Parameter] public Func<string, Task> OnRemoveSignature { get; set; }
    [Parameter] public Func<string, string, Task> OnNameChanged { get; set; }

    private Task OnAddSignatureInternal(string id) =>
        CallHandlerAtIndex(id, i => i + 1, (id, i) => OnAddSignature(i));

    private Task OnMoveUpButtonClickInternal(string id) =>
        CallHandlerAtIndex(id, i => i - 1, (id, i) => OnMoveSignature(id, i));

    private Task OnMoveDownButtonClickInternal(string id) => 
        CallHandlerAtIndex(id, i => i + 1, (id, i) => OnMoveSignature(id, i));

    private Task CallHandlerAtIndex(string id, Func<int, int> getIndex, Func<string, int, Task> handler)
    {
        if (handler == null)
            return Task.CompletedTask;

        var info = Model.Values
            .Select((v, i) => (v, i))
            .FirstOrDefault(o => o.v.Identity.ID == id);

        int index = getIndex(info.i);
        return handler?.Invoke(id, index);
    }

    public async Task RefreshView()
    {
        await RefreshViewModel();
        await InvokeAsync(StateHasChanged);
    }

    public Task RefreshViewModel()
    {
        return Task.CompletedTask;
    }
}
