.bgs {
    position: fixed;
    height: 100%;
}

.bg-image {
    width: contain;
    max-height: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
    opacity: 0.45;
    overflow-x: clip;
}

.right-image {
    right: 0;
    transform: translate(50%, -20px);
}

.left-image {
    left: 0;
    transform: translate(-25%, -20px);
}

.top-image {
    left: 0;
    height: 100%;
    width: max-content;
    opacity: 0.3;
    transform: translateY(-600px);
}