<div class="navbar-menu-parent">
    <div id="bulma-navbar-menu" class="navbar-menu navbar-menu-ext">
        <div class="navbar-start">
            <div class="navbar-brand">
                <div class="navbar-item navbar-brand-item-text is-size-5"><p><b>Japanese</b>Arcana</p></div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons pr-4">
                    <NavLink href="page" class="button is-text">
                        Learn
                    </NavLink>
                    <NavLink href="page" class="button is-text">
                        Contact
                    </NavLink>
                    <LoginDisplay Class="button is-text" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
