.navbar-menu ::deep .button {
    text-decoration: none;
    color: rgb(179, 174, 166);
    padding-left: 0;
}

.navbar-menu ::deep .button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar-brand-item-text {
    color: black;
}

.navbar-menu ::deep .is-text {
    color: black;
}

.navbar-menu-parent {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
}

.navbar-menu-ext {
    width: 100vw;
}   