@inject IAuthUser _authUser
@inject NavigationManager _navigation;

<div class="login-display">
    @if (_isSignedIn)
    {
        @*<p>Hello, </p>@_authUser.Name*@
        <button class="nav-link btn btn-link" @onclick="_authUser.SignOut">Log out</button>
    }
    else
    {
        <button class="nav-link btn btn-link" @onclick="_authUser.SignIn">Log in</button>
    }
</div>

@code {
    private bool _isSignedIn = false;

    protected override async Task OnInitializedAsync()
    {
        _isSignedIn = await _authUser.IsSignedIn();
        _authUser.OnAuthenticatedStateChanged += OnAuthenticatedStateChanged;
    }

    private async void OnAuthenticatedStateChanged(bool isSignedIn)
    {
        if (isSignedIn)
            _navigation.NavigateTo(_navigation.Uri, forceLoad: true);
        else
            _navigation.NavigateTo("/");

        _isSignedIn = await _authUser.IsSignedIn();
        await InvokeAsync(StateHasChanged);
    }
}
