@using Common.Basic.Collections;
@using PageTree.Client.Shared.Pages
@inherits LayoutComponentBase

<div class="page">

    <NavMenu/>
    <main>
        <div class="top-row"></div>
        <article class="main-content pl-5">
            @Body
        </article>
    </main>
</div>
