@using Common.Basic.Collections;
@using PageTree.Client.Shared.Pages
@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row">
        </div>

        <article class="main-content @_mainContentPaddingCssClass">
            @Body
        </article>
    </main>

    <MainNavMenu CollapseNavMenuChanged="OnCollapseNavMenuChanged"/>

</div>

@code {
    private string _mainContentPaddingCssClass;

    protected override void OnInitialized()
    {

    }

    private void OnCollapseNavMenuChanged(bool isCollapsed)
    {
        if (!isCollapsed)
            _mainContentPaddingCssClass = "main-content-pad-exp";
        else
            _mainContentPaddingCssClass = "main-content-pad-col";
    }
}