.about-menu,
.services-menu {
    display: none;
}

.about-menu:target,
.services-menu:target {
    display: block;
}

::deep table {
    width: 100%;
}

.main-content {
    padding-top: 6rem;
}

.main-content-pad-col {
    padding-left: 2rem;
}

.main-content-pad-exp {
    padding-left: 13rem;
}

.main-content::-webkit-scrollbar {
    width: 0.25rem;
}

.main-content::-webkit-scrollbar-track {
    background: #1e1e24;
}

.main-content::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

.navbar {
    background: #2e323a;
}
main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #2e323a   ;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 4.25rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}