.main {
    overflow-x: unset;
    overflow-y: unset;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.page-content::-webkit-scrollbar {
    width: 0.5rem;
}

.page-content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.page-content::-webkit-scrollbar-thumb {
    background: #000000;
}

.page-content-panel {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.page-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 0px;
    padding-left: 1.5rem;
}

.page-navbar-container {
    width: 100vw;
    min-height: 38px;
    border-top: solid 1px;
    overflow-x: auto;
}

.page-navbar {
    display: flex;
    align-items: center;
    align-content: center;
    bottom: 0;
    width: fit-content;
    height: 100%;
    margin: 0;
    padding-left: 1px;
}

.page-navbar-container::-webkit-scrollbar {
    height: 0.25rem;
}

.page-navbar-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4);
}

.page-navbar-container::-webkit-scrollbar-thumb {
    background: #000000;
}

@media only screen and (max-width: 1023px) {
    .page-navbar-container::-webkit-scrollbar {
        height: 0rem;
    }
}

.page-tool-button {
    background: none;
    outline: none;
    text-decoration: none;
    border: none;
    height: 100%;
    min-width: 60px;
    padding: 0;
    margin: 0;
    z-index: 100000;
    border-right: solid 1px;
}

.page-tool-button:hover {
    background: #cecece;
}

.page-icon {
    color: black;
    height: 20px;
    image-rendering: -moz-crisp-edges;
}

.page-name-input {
    color: rgb(40, 40, 40);
    outline: none;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    width: contain;
}

.practice-button {
    position: absolute;
    bottom: 10px;
    right: 17px;
    color: black;
    background: #f3f3f3;
    border-color: #000000;
}