<div class="page-navbar-container">
    <nav class="page-navbar">
        <button class="page-tool-button" @onclick=@OnCreateBottomClick>
            <img src="_content/PageTree.Client.Shared/images/icons/file-document-plus-outline.png" class="page-icon" />
        </button>
        <button class="page-tool-button">
            <img src="_content/PageTree.Client.Shared/images/icons/arrow-left-bold.png" class="page-icon" />
        </button>
        <button class="page-tool-button">
            <img src="_content/PageTree.Client.Shared/images/icons/arrow-right-bold.png" class="page-icon" />
        </button>
        <button class="page-tool-button" @onclick=@OnNavigateUpClick>
            <img src="_content/PageTree.Client.Shared/images/icons/arrow-up-bold-box.png" class="page-icon" />
        </button>
    </nav>
</div>

@code {
    [Parameter] public Func<Task> OnCreateBottomClick { get; set; }
    [Parameter] public Func<Task> OnNavigateUpClick { get; set; }
}
