@using System.Net.NetworkInformation;
@using Corelibs.BlazorViews.ViewModels;
@using System.Drawing;
@using Common.Basic.Collections;
@using Common.Basic.Functional;
@using Corelibs.Basic.Colors;
@using Microsoft.AspNetCore.Components.Rendering;
@using Corelibs.BlazorShared.UI;
@using Corelibs.BlazorShared.UI.Css;
@using Corelibs.BlazorViews.Layouts;
@using PageTree.App.Entities.Styles;
@using PageTree.App.Pages.Queries;
@using Microsoft.AspNetCore.Components;

<div class="page" style=@_mainStyle>
    <PageMenu OnArrangmentsButton=@OnArrangmentsButton IsEditMode=IsEditMode />
    @if (IsEditMode)
    {
        <PageEditMenu 
            OnAddSubPageOnTop=OnAddSubPageOnTop 
            OnAddSubPageOnBottom=OnAddSubPageOnBottom />
    }
    <PageHeader Model=@GetPageHeader() />
    <TreeLayout @ref=_treeLayout Tree=_treeNode BeforeExpand=BeforeExpand AfterExpand=AfterExpand ModifyNode=ModifyNode />
    <Arrangements @ref=@_arrangements OnAddNewClick=@OnAddNewArrangmentClick IsEditMode=IsEditMode/>

    @if (IsEditMode)
    {
        <Arrangements_AddNew @ref=@_arrangements_AddNew Properties=_properties />
    }
</div>
