.page-header {
    padding-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
    position: relative;
}

.no-padding-top {
    padding-top: 0;
}

.path-container {
    position: absolute;
    width: 100%;
    overflow-x: auto;

    top: 0;
}

.path-container::-webkit-scrollbar {
    height: 0.5rem;
}

.path-container::-webkit-scrollbar-track {
    background: #ccc;
}

.path-container::-webkit-scrollbar-thumb {
    background: #888;
}

.path {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 0;
    max-width: 100%;
}

.path-element-button {
    box-sizing: border-box;
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    color: black;
    font-size: 12px;
    cursor: pointer;
}
