@using Corelibs.BlazorViews.Components
@using Corelibs.BlazorViews.Layouts;
@using PageTree.Client.Shared.Extensions;

<div class="page" style=@_mainStyle>
    <PageMenu OnArrangmentsButton=@OnArrangmentsButton IsEditMode=IsEditMode />
    @if (IsEditMode)
    {
        <PageEditMenu 
            OnAddSubPageOnTop=OnAddSubPageOnTop 
            OnAddSubPageOnBottom=OnAddSubPageOnBottom />

        var signaturesOptions = Model.Signatures.ToUIIdentityVM();
        <ChooseFromListWindow Options=signaturesOptions @ref=_signatureChangeWindow OnSelected=OnResignatureInternal />
        <SelectLinkWindow @ref=_selectLinkWindow OnInputChanged=OnSelectLinkInputChanged OnSelected=OnSelectLinkSelected />
    }
    <PageHeader Model=@GetPageHeader() />
    <TreeLayout @ref=_treeLayout Tree=_treeNode BeforeExpand=BeforeExpand AfterExpand=AfterExpand ModifyNode=ModifyNode />
    <Arrangements @ref=@_arrangements OnAddNewClick=@OnAddNewArrangmentClick IsEditMode=IsEditMode/>

    @if (IsEditMode)
    {
        <Arrangements_AddNew @ref=@_arrangements_AddNew Properties=_properties />
    }
</div>
