@using Corelibs.BlazorViews.Components
@using Corelibs.BlazorViews.Layouts

<OuterClickComponent @ref=OuterClick class="property-menu-outer">
    <ContextMenu @ref=ContextMenu class="property-context-menu">
        <VerticalLayout>
            <button class="button" @onclick=@(() => OnCreateSubpage?.Invoke(Index))>Create Subpage</button>
            <button class="button" @onclick=@(() => OnCreateLink?.Invoke(Index))>Create Link</button>
            @if (Index != 0)
            {
                <button class="button" @onclick=@(() => OnMoveUpButtonClick?.Invoke(ID, Index))>Move Up</button>
            }
            @if (!IsLast)
            {
                <button class="button" @onclick=@(() => OnMoveDownButtonClick?.Invoke(ID, Index))>Move Down</button>
            }
            @if (HasGrandParent)
            {
                <button class="button" @onclick=@(() => OnMoveLevelUpButtonClick?.Invoke(ID))>Move Level Up</button>
            }
            @if (HasSiblings)
            {
                <button class="button" @onclick=@(() => OnMoveLevelDownButtonClick?.Invoke(ID))>Move Level Down</button>
            }
            <button class="button" @onclick=OnRename>Rename</button>
            <button class="button" @onclick=OnResignature>Resignature</button>
            <button class="button" @onclick=@(() => OnRemove?.Invoke(ID))>Remove</button>
        </VerticalLayout>
    </ContextMenu>
</OuterClickComponent>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string ID { get; set; }

    [Parameter] public int Index { get; set; }
    [Parameter] public bool IsLast { get; set; }
    [Parameter] public bool HasGrandParent { get; set; }
    [Parameter] public bool HasSiblings { get; set; }

    [Parameter] public Func<int, Task> OnCreateSubpage { get; set; }
    [Parameter] public Func<int, Task> OnCreateLink { get; set; }
    [Parameter] public Func<string, Task> OnRemove { get; set; }
    [Parameter] public Func<string, int, Task> OnMoveUpButtonClick { get; set; }
    [Parameter] public Func<string, int, Task> OnMoveDownButtonClick { get; set; }
    [Parameter] public Func<string, Task> OnMoveLevelUpButtonClick { get; set; }
    [Parameter] public Func<string, Task> OnMoveLevelDownButtonClick { get; set; }

    [Parameter] public Func<Task> OnResignature { get; set; }
    [Parameter] public Func<Task> OnRename { get; set; }

    public OuterClickComponent? OuterClick { get; set; }
    public ContextMenu? ContextMenu { get; set; }
}
