@using Corelibs.BlazorViews.Components
@using Corelibs.BlazorViews.Layouts

<OuterClickComponent @ref=OuterClick class="property-menu-outer">
    <ContextMenu @ref=ContextMenu class="property-context-menu">
        <VerticalLayout>
            <button class="button">Create</button>
            <button class="button">Move Up</button>
            <button class="button">Move Down</button>
            <button class="button" @onclick=@(() => OnRemove?.Invoke(ID))>Remove</button>
        </VerticalLayout>
    </ContextMenu>
</OuterClickComponent>

@code {
    [Parameter] public string ID { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    public OuterClickComponent? OuterClick { get; set; }
    public ContextMenu? ContextMenu { get; set; }

    [Parameter] public Func<string, Task> OnRemove { get; set; }
}
