@using Common.Basic.Collections;
@using Corelibs.Basic.Colors;
@using Corelibs.BlazorShared.UI;
@using Corelibs.BlazorViews.Components;
@using Corelibs.BlazorViews.Layouts;
@using Microsoft.AspNetCore.Components.Rendering;
@using PageTree.App.PageTemplates.Queries;
@using System.Drawing;
@using PageTree.Client.Shared.Extensions;
@using PageTree.Client.Shared.Views.Pages;

@implements IView<PageTemplatesVM>

<div class="page-templates" style=@_mainStyle>
    <PageTemplateEditMenu 
        OnAddSubPageOnTop=OnAddSubPageOnTop
        OnAddSubPageOnBottom=OnAddSubPageOnBottom
        />

    <TreeLayout Tree=_treeNode AfterExpand=AfterExpand ModifyNode=ModifyNode />

    <ChooseFromListWindow @ref=_movePropertyDownWindow OnSelected=OnMoveLevelDownOptionSelected />

    @{
        var signaturesOptions = Model.Signatures.ToUIIdentityVM();
        <ChooseFromListWindow Options=signaturesOptions @ref=_signatureChangeWindow OnSelected=OnResignatureSignatureSelected />
    }
</div>

@code {
    [Parameter] public PageTemplatesVM Model { get; set; }

    [Parameter] public Func<string, bool, Task> OnChangeExpand { get; set; }
    
    [Parameter] public Func<string, int, Task> OnAddSubPage { get; set; }
    [Parameter] public Func<Task> OnAddSubPageOnTop { get; set; }
    [Parameter] public Func<Task> OnAddSubPageOnBottom { get; set; }

    [Parameter] public Func<string, string, Task> OnPropertyRemove { get; set; }

    [Parameter] public Func<string, string, int, Task> OnPropertyMove { get; set; }
    [Parameter] public Func<string, string, string, Task> OnPropertyMoveLevel { get; set; }

    [Parameter] public Func<string, string, Task> OnPropertyResignature { get; set; }

    [Parameter] public Func<string, string, Task<bool>> OnPageRename { get; set; }
    [Parameter] public Func<string, string, Task<bool>> OnTemplateRename { get; set; }

    [Parameter] public int Left { get; set; }
    [Parameter] public int Top { get; set; }
    private string _mainStyle => $"width: calc(100% - {Left}px); ";

    private TreeLayout.TreeNode? _treeNode;
    private ChooseFromListWindow _movePropertyDownWindow;
    private ChooseFromListWindow _signatureChangeWindow;

    protected override void OnInitialized()
    {
        RefreshViewModel();
    }

    public async Task RefreshView()
    {
        await RefreshViewModel();
        await InvokeAsync(StateHasChanged);
    }

    public Task RefreshViewModel()
    {
        _treeNode = GetTreeNode();

        return Task.CompletedTask;
    }

    private TreeLayout.TreeNode GetTreeNode()
    {
        return new()
        {
            CanExpand = false,
            IsExpanded = true,
            Children = GetTreeNodes(Model.Values, parentIDs: new string[] { Model.ID }),
            Layout = new() { Gap = 10 }
        };
    }

    private List<TreeLayout.TreeNode> GetTreeNodes(
        PageTemplateVM[] propertyVMs,
        string[] parentIDs)
    {
        var list = new List<TreeLayout.TreeNode>();

        propertyVMs.ForEach((propertyVM, i) =>
        {
            var parentIDsOfChild = parentIDs.Append(propertyVM.Identity.ID).ToArray();

            list.Add(new()
            {
                Identity = new() { ID = propertyVM.Identity.ID, Name = propertyVM.Identity.Name },
                HasChildren = propertyVM.HasChildren,
                IsExpanded = propertyVM.IsExpanded,
                CanExpand = true,
                Layout = new()
                {
                    Gap = 10
                },

                Children = GetTreeNodes(propertyVM.Properties, parentIDsOfChild),
                GetContent = GetProperty(
                    propertyVM,
                    parentIDs,
                    hasSiblings: propertyVMs.Length > 1,
                    propertyIndex: i, 
                    isLast: i == propertyVMs.Length - 1)
            });
        });

        return list;
    }

    private TreeLayout.TreeNode.GetContentDelegate GetProperty(
        PageTemplateVM propertyVM,
        string[] parentIDs,
        bool hasSiblings,
        int propertyIndex,
        bool isLast)
    {
        return GetContent;
        RenderFragment GetContent(TreeLayout.TreeNode node, ref int seq)
        {
            int seqLocal = seq;
            seq += 4;

            return RenderFragmentExtensions.CreateComponent<PageTemplate>(builder =>
            {
                var vmModel = new Property.ViewModel();

                vmModel.ID = propertyVM.Identity.ID;
                vmModel.ParentIDs = parentIDs;
                vmModel.Signature = new()
                {
                    ID = propertyVM?.SignatureIdentity?.ID,
                    Name = propertyVM?.SignatureIdentity?.Name,
                };

                vmModel.HasSiblings = hasSiblings;

                vmModel.Artifacts.Add(new()
                {
                    Identity = propertyVM.Identity.ToPropertyIdentityVM(),
                    Type = Property.ArtifactType.Name,
                });

                builder.AddAttribute(seqLocal++, "Model", vmModel);
                builder.AddAttribute(seqLocal++, "IsEditMode", true);
                builder.AddAttribute(seqLocal++, "Index", propertyIndex);
                builder.AddAttribute(seqLocal++, "IsLast", isLast);

                builder.AddAttribute(seqLocal++, "OnCreateSubpage", OnAddSubPage);

                builder.AddAttribute(seqLocal++, "OnRemove", OnPropertyRemove);
                builder.AddAttribute(seqLocal++, "OnMoveUp", OnPropertyMoveUpInternal);
                builder.AddAttribute(seqLocal++, "OnMoveDown", OnPropertyMoveDownInternal);
                builder.AddAttribute(seqLocal++, "TemplateName", propertyVM.TemplateName);
                builder.AddAttribute(seqLocal++, "OnRename", OnPageRename);
                builder.AddAttribute(seqLocal++, "OnTemplateRename", OnTemplateRename);

                builder.AddAttribute(seqLocal++, "OnResignature", OnResignatureMenuButtonInternal);
                builder.AddAttribute(seqLocal++, "OnMoveLevelUp", OnMoveLevelUpInternal);
                builder.AddAttribute(seqLocal++, "OnMoveLevelDown", OnMoveLevelDownInternal);

            });
        };
    }

    private async Task AfterExpand(TreeLayout.TreeNode node)
    {
        await OnChangeExpand?.Invoke(node.Identity.ID, node.IsExpanded);
        await InvokeAsync(StateHasChanged);
    }

    private Task OnPropertyMoveUpInternal(string parentPropertyOrPageID, string propertyID, int currentIndex) =>
        OnPropertyMove(parentPropertyOrPageID, propertyID, currentIndex - 1);

    private Task OnPropertyMoveDownInternal(string parentPropertyOrPageID, string propertyID, int currentIndex) =>
        OnPropertyMove(parentPropertyOrPageID, propertyID, currentIndex + 1);

    private Task OnMoveLevelUpInternal(string parentPageID, string propertyID, string newParentPageID) =>
        OnPropertyMoveLevel?.Invoke(parentPageID, propertyID, newParentPageID);

    private Task OnMoveLevelDownInternal(string parentPageID, string propertyID)
    {
        _movePropertyDownWindow.Data = (parentPageID, propertyID);

        if (parentPageID == Model.ID)
        {
            _movePropertyDownWindow.Options = Model.Values.Select(p => p.Identity).Where(p => p.ID != propertyID).ToUIIdentityVM();
        }
        else
        {
            var propertiesFlattened = Model.Values.Flatten(p => p.Properties).ToArray();
            var parentPage = propertiesFlattened.FirstOrDefault(p => p.Identity.ID == parentPageID);
            _movePropertyDownWindow.Options = parentPage.Properties.Select(p => p.Identity).Where(p => p.ID != propertyID).ToUIIdentityVM();
        }

        _movePropertyDownWindow.OuterClick.Enabled = true;

        return Task.CompletedTask;
    }

    private Task OnMoveLevelDownOptionSelected(object data, string newParentPageID)
    {
        var dataTuple = (ValueTuple<string, string>) data;

        var parentPageID = dataTuple.Item1;
        var propertyID = dataTuple.Item2;

        _movePropertyDownWindow.OuterClick.Enabled = false;
        return OnPropertyMoveLevel?.Invoke(parentPageID, propertyID, newParentPageID);
    }

    private Task OnResignatureMenuButtonInternal(string propertyID)
    {
        _signatureChangeWindow.Data = propertyID;
        _signatureChangeWindow.OuterClick.Enabled = true;
        return Task.CompletedTask;
    }

    private Task OnResignatureSignatureSelected(object data, string signatureID)
    {
        _signatureChangeWindow.OuterClick.Enabled = false;

        var propertyID = data as string;
        OnPropertyResignature?.Invoke(propertyID, signatureID);
        return Task.CompletedTask;
    }

    private void ModifyNode(RenderTreeBuilder builder, TreeLayout.TreeNode node, ref int sequence)
    {
        if (node.Parent is not null)
            builder.AddCssAttribute(ref sequence, "Background", Color.FromArgb(255, 225, 225, 225).ToHexString());

        builder.AddCssAttribute(ref sequence, "Padding", 10);
        builder.AddCssAttribute(ref sequence, "PaddingLeft", 20);

        if (node.Parent?.Parent is null)
            builder.AddCssAttribute(ref sequence, "PaddingRight", 10);
        else
            builder.AddCssAttribute(ref sequence, "PaddingRight", 0);

        //builder.AddCssAttribute(ref sequence, "PaddingTop", 10);
        //builder.AddCssAttribute(ref sequence, "PaddingBottom", 10);
    }
}
