@inject IAuthUser _authUser

@if (_authUser.IsSignedIn)
{
    @*<p>Hello, </p>@_authUser.Name*@
    <button class="nav-link btn btn-link" @onclick="_authUser.SignOut">Log out</button>
}
else
{
    <button class="nav-link btn btn-link" @onclick="_authUser.SignIn">Log in</button>
}

@code {
    protected override void OnInitialized()
    {
        _authUser.OnAuthenticatedStateChanged += OnAuthenticatedStateChanged;
    }

    private void OnAuthenticatedStateChanged(bool isSignedIn)
    {
        InvokeAsync(StateHasChanged);
    }
}
