.page-icon {
    color: black;
    filter: opacity(60%);

    top: 50%;
}

.page-navbar {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.2rem;
}

.page-name-input {
    color: rgb(40, 40, 40);
    outline: none;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
}

.page-name-input:focus {
    color: black;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
}

.page-tool-button {
    background: none;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 0;
    padding-right: 0.2rem;
    margin: 0;
    z-index: 100000;
}