@using Corelibs.Basic.Collections;
@using PageTree.App.ProjectUserLists.Queries;
@using PageTree.App.Projects.Commands;
@using PageTree.App.UseCases.Users.Queries;
@inherits ComponentBase
@attribute [Route(Uris.Projects)]

<PageTitle>PageTree</PageTitle>

<div class="main">
    <h1>My Projects</h1>

    @foreach (var project in _projectUserListVM.Projects)
    {
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    @project.Name
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    @project.Description
                </div>
            </div>
            <footer class="card-footer">
                @{var projectEditUri = $"{Uris.Projects}/{@project.ID}"; }
                <NavLink href="@projectEditUri" class="card-footer-item">
                    <div class=class="card-footer-item">Edit</div>
                </NavLink>

                @{var pageUri = $"{projectEditUri}/pages/{@project.RootPageID}"; }
                <NavLink href="@pageUri" class="card-footer-item">
                    <div class=class="card-footer-item">Pages</div>
                </NavLink>
            </footer>
        </div>
    }
    <button class="button is-primary" @onclick=AddProject>Add</button>
</div>

@code {
    [Inject] private IQueryExecutor Queries { get; set; }
    [Inject] private ICommandExecutor Commands { get; set; }
    [Inject] private NavigationManager Navigation { get; set; }

    private ProjectUserListVM _projectUserListVM = new(string.Empty, new ProjectVM[] {});

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        var user = await Queries.Execute<GetUserQuery, GetUserQueryOut>();
        if (!user || !user.ProjectUserListID.IsID())
        {
            Navigation.NavigateToBase();
            return;
        }

        var projectList = await Queries.Execute<GetProjectUserListQuery, GetProjectUserListQueryOut>(user.ProjectUserListID);
        if (projectList == null)
        {
            Navigation.NavigateToBase();
            return;
        }

        _projectUserListVM = projectList.ProjectUserListVM;
    }

    private async Task AddProject()
    {
        await Commands.Execute<CreateProjectCommand>(_projectUserListVM.ID);
        await Refresh();
        await InvokeAsync(StateHasChanged);
    }
}
