.header {
    padding: 1rem;
    background: rgb(206, 180, 225);
}

.main {
    margin: 1rem;
}

.main-menu {
    position: fixed;
    background: rgb(56, 175, 106);
    width: 7rem;
    height: 100vh;
}

.main-menu-list {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#practice-button-parent {
    position: relative;
}

#practice-button:hover {
    background: #977390;
}

#practice-button:active {
    background: #AC7B7D;
}

.practice-choose-panel-parent:hover .practice-choose-panel {
    display: flex;
}

.practice-choose-panel-parent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: #AC7B7D;
    width: fit-content;
    height: fit-content;
}

.practice-choose-panel {
    position: absolute;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    bottom: 100%;
    right: 0;
    gap: 1rem;
    padding: 1rem;
    background: rgb(233, 233, 233);
}

.practice-choose-panel-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.practice-choose-panel-item {
    border-width: 0;
    background: none;
    color: none;
    white-space: nowrap;
    align-self: flex-start;
}

.top-bar {
    background: #2F1847;
    height: 3.5rem;
    width: 100%;
    padding: 1rem;
}

.main-menu {
    background: #2F1847 !important;
    width: 5rem !important;
}

.navbar-brand-custom {
    color: white;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    padding-left: 1rem;
}

.custom-page {
    height: 100vh;
    overflow: scroll;
}

.custom-page::-webkit-scrollbar {
    width: 0.25rem;
}

custom-page::-webkit-scrollbar-track {
    background: #1e1e24;
}

.custom-page::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.signature-text {
    color: darkgreen;
}

.practice-panel {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

.practice-panel-card {

    height: 100%;
    width: 100%;

    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.practice-questions {
    position: absolute;
    top: 200px;
}

.practice-question {
    font-size: 20px;
    font-weight: bold;
}

.practice-answers {
    /*background: #aaa;*/
    position: absolute;
    top: 400px;
}

.practice-answer {
    font-size: 20px;
    text-align: center;
}

.practice-counter {
    position: absolute;
    right: 3rem;
    top: 1rem;
    text-align: end;
}

.practice-menu {
    position: absolute;
    height: 2rem;
    width: 100%;
    bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    /*background: #aaa;*/
}

.practice-menu-button {
    all: unset;
}

.practice-quit-button {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
}

.outside-button-panel {
    position: fixed;
    background: none;
    padding: 0;
    z-index: 1;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.loader-panel {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, -50%);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 600px) {
    .page-path {
        flex-direction: row;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .page-path {
        overflow-x: auto;
        height: 3rem;
        width: 100%;
    }

    .page-path::-webkit-scrollbar {
        height: 0.25rem;
    }

    .page-path::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    .page-path::-webkit-scrollbar-thumb {
        background: #6649b8;
    }
}