@using Common.Basic.Collections;
@using Common.Infrastructure.MauiMsalAuth;
@using Microsoft.Extensions.Configuration
@inherits LayoutComponentBase
@inject ISignInManager _signInManager;

<PageTitle>MsalBlazorAuthInMaui</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (_signInManager.IsSignedIn)
            {
                <button class="btn btn-link" @onclick="OnLogoutClicked">Logout</button>
            }
            else
            {
                <button class="btn btn-link" @onclick="OnLoginClicked">Login</button>
            }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void OnLoginClicked()
    {
        await _signInManager.SignIn();
        await InvokeAsync(StateHasChanged);
    }

    private async void OnLogoutClicked()
    {
        await _signInManager.SignOut();
        await InvokeAsync(StateHasChanged);
    }
}
